body{
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    background-color: hsl(0, 0%, 100%);
    width: 600px;
    height: 450px;
    border-radius: 10px;
}

.container img{
    height: 450px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.container .info{
    font-size: 1.4rem;
    height: 450px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .produto{
    letter-spacing: 3px;
}

.container .nome-produto{
    font-family: 'Fraunces', serif;
    color:  hsl(212, 21%, 14%);
    font-weight: 700;
    font-size: 3rem;
    padding-right: 50px;
    line-height: 33px;
}

.container .descritivo{
    line-height: 23px;
}

.container .preco{
    display: flex;
    align-items: center;
    gap: 20px
}

.container .preco .desconto{
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    font-size: 3rem;
}
.container .preco span{
    text-decoration: line-through;
}

.container .btn-add-cart img{
    height: 16px;
    width: 16px;
    margin-right: 10px;
}

.container .btn-add-cart{
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    height: 50px;
    width: 230px;
    border: none;
    border-radius: 10px;
    transition: 0.3 ease-in-out;
}

.container .btn-add-cart:hover{
    background-color:  hsl(212, 21%, 14%);
}